body {
    background-image: url(https://images.unsplash.com/photo-1445264918150-66a2371142a2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-position: center center;
    background-repeat: no-repeat;
}

h1 {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    color: white;
    text-align: center;
}
#searchBarContainer{
    border: solid red 1px;
} 

.row {
    background-color: rgba(0,0,0,0.5);
}

#row{
    height: 100%;
}

#searchBars{
    background-color: white;
    height: 250px;
    border-radius: 6px;
    border: 2px solid black;
    margin-top: 13px;
}


label{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}

.searchBarOr{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding-top: 25px;
}


#searchResults{

    height: 500px;
}

.breweryResults{
    background-color: white;
    height: 40%;
    border-radius: 6px;
}

.breweryListItem{
    padding: 1px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.currentWeather{
    background-color: white;
    height: 40%;
    border-radius: 6px;
}

.weatherConditions{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
    



#current-weather {
    background-color: lightgray;
    height: 200px;
    width: 400px;
    border: 2px solid black;
}

#current-weather1 {
    background-color: lightgray;
    height: 200px;
    width: 400px;
    border: 2px solid black;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-style: groove;
    border-color: saddlebrown;
    height: 20vh;
    width: 80vw;
    /* creates scrollbar */
    overflow:auto;
    }
    #brewBox{
        content: normal;
    }
    #brewBox1 , #brewBox3 {
        background-color: white;
    }
    
    #brewBox0 , #brewBox2{
        background-color: red;
    }
    
    .here{
    height: 50vh;
    width:80vw;
    overflow: auto;
    }
    
    .name {
        font-size: 3vw;
        position: relative;
        left:0vw;
        top:0vh;
    }
    
    .website {
        position: relative;
        bottom: 0vw;
        right: 0vw;
    }
    .address{
        position: relative;
        bottom: 0vw;
        left: 0vw;
    }
    .phone {
        position: relative;
        bottom: 2vw;
        right: 0vw;
    }
    .city {
        position: relative;
        bottom: 0vw;
        left: 0vw;
    }







