#style-test {
    background-color: purple;
}

<<<<<<< HEAD
#searchBarContainer{
    border: solid red 1px;
=======
#current-weather {
    background-color: purple;
    height: 400px;
    width: 400 px;
>>>>>>> c4fd5996027226205b9b47042ed5126474746f13
}